ul {
    list-style-type: none;
  }

.nav-bar {
    display: flex;
    justify-content: right;
}

.nav-page {
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    font-weight: bold;
}

.nav-page:link {
    color: #f787b7;
}

.nav-page:visited {
    color: #f787b7;
}

.nav-page:hover {
    color: #f661a0;
}

.website-title {
    font-size: 3em;
    color: #f787b7;
}
