.card {
  display: flex;
  padding: 20px;
  flex-direction: column;
  position: relative;
  height: mi;
}

.card-container {
  display: block;
  flex-direction: column;
}

.card-photo {
  float: center;
  height: 200px;
  margin-bottom: 125px;
}

.card-info {
  float: center;
  position: absolute;
  bottom: 0;
}

.card-title {
  margin: 10px;
}

.card-description {
  margin: 5px;
}

.card-cart-row {
  flex-direction: row;
}

.card-cart-quantity {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
}

.display {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

.display-container {
  display: flex;
}

.display-photo {
  float: left;
  height: 50px;
}

.display-info {
  padding-left: 15px;
}

.display-text {
  font-size: large;
}