.card {
  display: flex;
  padding: 20px;
  outline-color: grey

}

.card-container {
  display: flex;
  /* justify-content: center; */

}

.card-photo {
  float: left;
  height: 200px;
}

.card-info {
  float: left;
}

.card-cart-row {
  flex-direction: row;
}
  